
/* home.html css*/
.background {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;

    
}
p {
    font-size: 20px;
    
}
.headerunderline {
    border-bottom: 1px solid #909090;
}

/*nav bar css*/
.navbar {
    opacity: 0.9;
}
.navbar-brand{
padding-left: 20%;

}
.navbar-nav{
    margin-right: 20%;
}
.collapse.navbar-collapse {

}
/*carousel css*/
.carousel-caption {
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height: 100%;
    background: rgba(25, 25, 25, .5);
    left: 0;
    bottom:0;
    text-align: center;

}
.carousel_text {
    padding-top: 120px;
    min-width: 100px;

}
.carousel-item.active {

}

/*card css*/
.card-deck-row{
    padding-top: 50px;
}
.card {
        max-width: 300px;
}
.card-img-top {
    
    width:300px;
    height:220px;
    min-width: 100%;
    min-height:  12vw;
    object-fit: cover;
}
body{
 
 background: url("/static/images/background2.png") 50% 0 no-repeat fixed;
     background-repeat: repeat-y;
}
/*registration.html css*/
.registration.container {
    margin-top: 150px;
        width: 520px;
        background-color: #E2E2E2;
        -webkit-border-radius: 10px;/*changes edges to curves*/
    padding-bottom: 20px;
    padding-top: 10px;
}
.registerForm {
    
    margin-top: 40px;
}