<!doctype html>
<html>
    <head>
        <title>Health Online</title>
    </head>


<h1>Health Online</h1>
<p>
</p>

<body>
    {% include 'navbar.html' %}
    {% block content %}
    replace
    {% endblock %}
</body>

<!--This is a base html. Google this and lookup how it is used. It is a huge timesaver when writing html and templates for django-->
<!--Note: Be careful how I included navbar.html in here.
That basically just copies and pastes navbar.html's contents in that place
It another django template tag I wanna show it to you.
I tried to do it for doctor_register.html but it ended up screwing the css/bootstrap idk,
but you can figure it out use it as such. As you can see, it is yet another time saver from django-->>