{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-image: url({% static 'images/reg-background4.jpg'%});"></body>
<div class="registration container">
    <div class="headerunderline">
        <h1><center>Sign-up As a Doctor</center></h1>
    </div>
    <form class="registerForm" method="POST" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form group col-6">
                <label for="first_name">First Name</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">&#9999;</div>
                    {{form.first_name}}
                    {% for error in form.first_name.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                        
                </div>
            </div>

            <div class="form-group col-6">
                <label for="last_name">Last Name</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">&#9999;</div>
                    {{form.last_name}}
                    {% for error in form.last_name.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            {{form.email}}
            {% for error in form.email.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            {{form.username}}
            {% for error in form.username.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="Current Health Organisation">Current Health Organisation</label>
            {{form.organisation}}
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            {{form.password1}}
            {% for error in form.password1.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            <small id="passwordTip" class="form-text text-muted">
                Password must include the following:
                <ul>
                <li>One Lower-case letter</li>
                <li>One Captial letter</li>
                <li>One Number</li>
                </ul>
                Never share your account details with anyone.
            </small>
        </div>

        <div class="form-group">
            <label for="password2">Repeat Password</label>
            {{form.password2}}
            {% for error in form.password2.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-secondary">Sign up</button>
    </form>
</div>


<div class="altSignupLogin">
    <small id="altform">
        Already have an account? 
        <a class="altform" href="{% url 'login'%}">Login</a>
        <br>
        Sign up as a patient 
        <a class="altform" href="{% url 'patient_register'%}">here</a>
    </small>   
</div>
{% endblock %}