{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" >

            <img class="d-block w-100 overflow-hidden" style="height:650px;" src="{% static 'images/banner4.jpg'%}" alt="First slide">
            <div class="carousel-caption ">
                <div class="carousel_text">
                    <left>
                        <h1><b>Welcome to Health Online</b></h1>
                    </left><br>
                    <p>We help patients connect to doctors through the online appointments.
                        <br>Already a user or want to get started? Click the button below</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a class="btn btn-primary" href="{% url 'login'%}" role="button">Login</a>
                        <a class="btn btn-secondary" href="{% url 'register'%}" role="button">Register</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="background">
    <div class="headerunderline" >
    <center>
       <h1>
        Meet Our Current Doctors
            
    </h1></center>
</div>
    <div class="card-deck-row d-flex justify-content-around flex-wrap">
        <div class="card">
            <img class="card-img-top" src="{% static 'images/doctor1.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">John Smith</h5>
                <p class="card-text">Doctor Description</p>
            </div>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'images/doctor1.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">John Smith</h5>
                <p class="card-text">Doctor Description</p>
            </div>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
        <div class="card">

            <img class="card-img-top" src="{% static 'images/doctor1.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">John Smith</h5>
                <p class="card-text">Doctor Description</p>
            </div>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'images/doctor2.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cody Fisherman</h5>
                <p class="card-text">Doctor Description</p>
            </div>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'images/doctor3.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Calvin Nguyen</h5>
                <p class="card-text">Doctor Description</p>
            </div>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'images/doctor3.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Calvin Nguyen</h5>
                <p class="card-text">Doctor Description</p>
            </div>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
</div>
{% endblock %}