{% extends 'doctor_base.html' %}
{% load static %}
{% block content %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<body style ="margin-left:10%; margin-right:10%;">
<div class="container-fluid" style="margin-top: 100px;">

    <header>
        
        <h4 class="display-4 mb-4 text-center" id="monthYear"></h4>
        <div class="row d-none d-sm-flex p-1 bg-dark text-white">
            <h5 class="col-sm p-1 text-center">Monday</h5>
            <h5 class="col-sm p-1 text-center">Tuesday</h5>
            <h5 class="col-sm p-1 text-center">Wednesday</h5>
            <h5 class="col-sm p-1 text-center">Thursday</h5>
            <h5 class="col-sm p-1 text-center">Friday</h5>
            <h5 class="col-sm p-1 text-center">Saturday</h5>
            <h5 class="col-sm p-1 text-center">Sunday</h5>
        </div>
    </header>

    <div class="row border border-right-0 border-bottom-0">
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1"><p id="monday"></p></span>
                <small class="col d-sm-none text-center text-muted">monday</small>
                <span class="col-1"></span>
            </h5>
            <a class="btn btn-primary btn-lg btn-block " data-toggle="collapse" href="#monday"style="font-size:10px;" role="button" aria-expanded="false" aria-controls="collapseExample">
    View appointment
  </a>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1"><p id="tuesday"></p></span>
                <small class="col d-sm-none text-center text-muted">Monday</small>
                <span class="col-1"></span>
            </h5>
            <a class="btn btn-primary btn-lg btn-block " data-toggle="collapse" href="#tuesday"style="font-size:10px;" role="button" aria-expanded="false" aria-controls="collapseExample">
    View appointment
  </a>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1"><p id="wednesday"></p></span>
                <small class="col d-sm-none text-center text-muted">Tuesday</small>
                <span class="col-1"></span>
            </h5>
            <a class="btn btn-primary btn-lg btn-block " data-toggle="collapse" href="#wednesday"style="font-size:10px;" role="button" aria-expanded="false" aria-controls="collapseExample">
    View appointment
  </a>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1"><p id="thursday"></p></span>
                <small class="col d-sm-none text-center text-muted">Wednesday</small>
                <span class="col-1"></span>
            </h5>
            <a class="btn btn-primary btn-lg btn-block " data-toggle="collapse" href="#thursday"style="font-size:10px;" role="button" aria-expanded="false" aria-controls="collapseExample">
    View appointment
  </a>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1"><p id="friday"></p></span>
                <small class="col d-sm-none text-center text-muted">Thursday</small>
                <span class="col-1"></span>
            </h5>
            <a class="btn btn-primary btn-lg btn-block " data-toggle="collapse" href="#friday"style="font-size:10px;" role="button" aria-expanded="false" aria-controls="collapseExample">
    View appointment
  </a>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1"><p id="saturday"></p></span>
                <small class="col d-sm-none text-center text-muted">Friday</small>
                <span class="col-1"></span>
            </h5>
            <a class="btn btn-primary btn-lg btn-block " data-toggle="collapse" href="#saturday"style="font-size:10px;" role="button" aria-expanded="false" aria-controls="collapseExample">
    View appointment
  </a>

        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1"><p id="sunday"></p></span>
                <small class="col d-sm-none text-center text-muted">Saturday</small>
                <span class="col-1"></span>
            </h5>
            <a class="btn btn-primary btn-lg btn-block " data-toggle="collapse" href="#sunday"style="font-size:10px;" role="button" aria-expanded="false" aria-controls="collapseExample">
    View appointment
  </a>
        </div>
    </div>
</div>
<div class="collapse" id="monday">
    <h1>Monday</h1>
    {% if monday %}
    {% for appointment in monday %}
    <form>
        <div class="form-group">
            <label for="patientname">Patient: </label>
            {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </div>
        <div class="form-group">
            <label for="time">Allocated Time: </label>
            {{ appointment.time }}
        </div>
    </form>
    {% endfor %}
    {% else %}
        <p> No appointments scheduled for this day. </p>
    {% endif %}

</div>
<div class="collapse" id="tuesday">
    <h1>Tuesday</h1>
    {% if tuesday %}
    {% for appointment in tuesday %}
    <form>
        <div class="form-group">
            <label for="patientname">Patient: </label>
            {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </div>
        <div class="form-group">
            <label for="time">Allocated Time: </label>
            {{ appointment.time }}
        </div>
    </form>
    {% endfor %}
    {% else %}
        <p> No appointments scheduled for this day. </p>
    {% endif %}

</div>
    <div class="collapse" id="wednesday">
    <h1>Wednesday</h1>
    {% if wednesday %}
    {% for appointment in wednesday %}
    <form>
        <div class="form-group">
            <label for="patientname">Patient: </label>
            {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </div>
        <div class="form-group">
            <label for="time">Allocated Time: </label>
            {{ appointment.time }}
        </div>
    </form>
    {% endfor %}
    {% else %}
        <p> No appointments scheduled for this day. </p>
    {% endif %}


</div>
    <div class="collapse" id="thursday">
    <h1>Thursday</h1>
    {% if thursday %}
    {% for appointment in thursday %}
    <form>
        <div class="form-group">
            <label for="patientname">Patient: </label>
            {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </div>
        <div class="form-group">
            <label for="time">Allocated Time: </label>
            {{ appointment.time }}
        </div>
    </form>
    {% endfor %}
    {% else %}
        <p> No appointments scheduled for this day. </p>
    {% endif %}

</div>
    <div class="collapse" id="friday">
    <h1>Friday</h1>
    {% if friday %}
    {% for appointment in friday %}
    <form>
        <div class="form-group">
            <label for="patientname">Patient: </label>
            {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </div>
        <div class="form-group">
            <label for="time">Allocated Time: </label>
            {{ appointment.time }}
        </div>
    </form>
    {% endfor %}
    {% else %}
        <p> No appointments scheduled for this day. </p>
    {% endif %}


</div>
    <div class="collapse" id="saturday">
    <h1>Saturday</h1>
    {% if saturday %}
    {% for appointment in saturday %}
    <form>
        <div class="form-group">
            <label for="patientname">Patient: </label>
            {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </div>
        <div class="form-group">
            <label for="time">Allocated Time: </label>
            {{ appointment.time }}
        </div>
    </form>
    {% endfor %}
    {% else %}
        <p> No appointments scheduled for this day. </p>
    {% endif %}


</div>
    <div class="collapse" id="sunday">
    <h1>Sunday</h1>
    {% if sunday %}
    {% for appointment in sunday %}
    <form>
        <div class="form-group">
            <label for="patientname">Patient: </label>
            { appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </div>
        <div class="form-group">
            <label for="time">Allocated Time: </label>
            {{ appointment.time }}
        </div>
    </form>
    {% endfor %}
    {% else %}
        <p> No appointments scheduled for this day. </p>
    {% endif %}

</div>
</body>


<script>
    n = new Date();
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";
    var monthInWords = month[n.getMonth()];
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("monthYear").innerHTML = monthInWords + " " + y;
    
    var today, todayNumber, mon, tues, wed, thur, fri, sat, sun, monday, tuesday,
        wednesday, thursday, friday, saturday, sunday;
    today = new Date();
    todayNumber = today.getDay();
    mon = 1 - todayNumber;
    tues = 2 - todayNumber;
    wed = 3 - todayNumber;
    thur = 4 - todayNumber;
    fri = 5 - todayNumber;
    sat = 6 - todayNumber;
    sun = 7 - todayNumber;
    monday = new Date(today.getFullYear(), today.getMonth(), today.getDate()+mon);
    monday2 = monday.getDate();
    tuesday = new Date(today.getFullYear(), today.getMonth(), today.getDate()+tues);
    tuesday2= tuesday.getDate();
    wednesday = new Date(today.getFullYear(), today.getMonth(), today.getDate()+wed);
    wednesday2= wednesday.getDate();
    thursday = new Date(today.getFullYear(), today.getMonth(), today.getDate()+thur);
    thursday2= thursday.getDate();
    friday = new Date(today.getFullYear(), today.getMonth(), today.getDate()+fri);
    friday2= friday.getDate();
    saturday = new Date(today.getFullYear(), today.getMonth(), today.getDate()+sat);
    saturday2= saturday.getDate();
    sunday = new Date(today.getFullYear(), today.getMonth(), today.getDate()+sun);
    sunday2= sunday.getDate();
    document.getElementById("monday").innerHTML = monday2;
    document.getElementById("tuesday").innerHTML = tuesday2;
    document.getElementById("wednesday").innerHTML = wednesday2;
    document.getElementById("thursday").innerHTML = thursday2;
    document.getElementById("friday").innerHTML = friday2;
    document.getElementById("saturday").innerHTML = saturday2;
    document.getElementById("sunday").innerHTML = sunday2;

</script>
{% endblock %}